<?xml version="1.0" encoding="UTF-8"?>
<phpunit displayDetailsOnTestsThatTriggerWarnings="true" colors="true" bootstrap="vendor/autoload.php" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <clover outputFile="coverage.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
